<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h1">แก้ไขข้อมูลนักศึกษา</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">ย้อนกลับ</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
      <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="text-white h5">ชื่อ</label>
                <input type="text" formControlName="firstName" class="form-control text-white bg-black" placeholder="ชื่อ" required>
                <p *ngIf="firstName.touched && firstName.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่ชื่อ</span></p>
                <p *ngIf="firstName.errors?.minlength" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่ชื่อมากว่า 2 ตัวอักษร</span></p>
              </div>
              <div class="col-md-12 mb-3">
                <label class="text-white h5">นามสกุล</label>
                <input type="text" formControlName="lastName" class="form-control text-white bg-black" placeholder="นามสกุล" required>
                <p *ngIf="lastName.touched && lastName.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่นามสกุล</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="text-white h5">อีเมล์</label>
                <input type="email" formControlName="email" class="form-control text-white bg-black" placeholder="อีเมล์" required>
                <p *ngIf="email.touched && email.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่อีเมล์</span></p>
                <p *ngIf="email.errors?.pattern" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่อีเมล์ให้ถูกต้อง</span></p>
              </div>
              <div class="col-md-12 mb-3">
                <label class="text-white h5">เบอร์โทรศัพท์</label>
                <input type="text" formControlName="mobileNumber" class="form-control text-white bg-black" placeholder="เบอร์โทรศัพท์" required>
                <p *ngIf="mobileNumber.touched && mobileNumber.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่เบอร์โทรศัพท์</span></p>
                <p *ngIf="mobileNumber.errors?.pattern" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่เบอร์โทรศัพท์เป็นตัวเลข</span></p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="text-white h5">ชื่อคณะ</label>
                <input type="text" formControlName="faculty" class="form-control text-white bg-black" placeholder="ชื่อคณะ" required>
                <p *ngIf="faculty.touched && faculty.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่ชื่อคณะ</span></p>
              </div>
              <div class="col-md-12 mb-3">
                <label class="text-white h5">ชื่อสาขา</label>
                <input type="text" formControlName="major" class="form-control text-white bg-black" placeholder="ชื่อสาขา" required>
                <p *ngIf="major.touched && major.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่ชื่อสาขา</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label class="text-white h5">ชั้นปี</label>
                <input type="text" formControlName="year" class="form-control text-white bg-black" placeholder="ชั้นปี" required>
                <p *ngIf="year.touched && year.invalid" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่ชั้นปี</span></p>
                <p *ngIf="year.errors?.pattern" class="error"><span class="badge badge-danger"><sup>*</sup>กรุณาใส่ชั้นปีเป็นตัวเลข</span></p>
              </div>
              <div class="col-md-12 mb-3">
                <label class="text-white h5">ที่อยู่</label>
                <textarea class="form-control text-white bg-black" formControlName="address" cols="30" rows="5" placeholder="ที่อยู่"></textarea>
              </div>
            </div>
            <div class="form-group text-right mt-3">
              <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">บันทึก</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
